div{
    width: 800px;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    margin: 15% auto;
    text-align: center;
}

p{
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}